execution/all_workflows.json
[{"updatedAt":"2026-02-06T02:16:31.948Z","createdAt":"2026-02-06T02:06:04.771Z","id":"OGECHpw-ZPq0MG2DF81Cx","name":"Crypto Fear & Greed Poller","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":12}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[0,0],"id":"43ae27ab-a186-455d-80ea-129c6d5759f1","name":"Schedule Trigger"},{"parameters":{"url":"https://api.alternative.me/fng/?limit=1","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[208,0],"id":"f34f23c8-e003-4901-ab4d-471445627ebc","name":"HTTP Request"},{"parameters":{"operation":"update","tableId":"system_stats","filters":{"conditions":[{"keyName":"metric_key","condition":"eq","keyValue":"CRYPTO_FEAR_GREED"}]},"fieldsUi":{"fieldValues":[{"fieldId":"metric_key","fieldValue":"CRYPTO_FEAR_GREED"},{"fieldId":"score","fieldValue":"={{ $json.data[0].value }}"},{"fieldId":"label","fieldValue":"={{ $json.data[0].value_classification }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[416,0],"id":"7c4ffd37-2fd5-4ab2-af97-dc780d95c292","name":"Update a row","alwaysOutputData":false,"credentials":{"supabaseApi":{"id":"zMaTJ515TkqfZox7","name":"Supabase account"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Update a row","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f56ecced-31a0-4529-aa49-0d0a235e8e3e","activeVersionId":null,"versionCounter":32,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-02-06T02:06:04.775Z","createdAt":"2026-02-06T02:06:04.775Z","role":"workflow:owner","workflowId":"OGECHpw-ZPq0MG2DF81Cx","projectId":"ltM0FqMhoyM1A4wN","project":{"updatedAt":"2026-02-06T00:41:33.403Z","createdAt":"2026-02-06T00:35:41.299Z","id":"ltM0FqMhoyM1A4wN","name":"HAL 9000 <2001hal9000s@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"eff92927-d09e-45db-b254-97eee9f99903"}}]},{"updatedAt":"2026-02-06T03:17:53.612Z","createdAt":"2026-02-06T03:15:00.681Z","id":"TLlLGfr2EJBKvTUi670tG","name":"Daily Portfolio Snapshot","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"getAll","tableId":"assets","returnAll":true},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[240,-160],"id":"ce357e4c-5e95-4802-bb18-63db27e5217b","name":"Supabase: Get All Assets","credentials":{"supabaseApi":{"id":"zMaTJ515TkqfZox7","name":"Supabase account"}}},{"parameters":{"jsCode":"// Calculate total net worth per user\nconst snapshots = {};\n\nconst items = $input.all();\n\nfor (const item of items) {\n   const asset = item.json;\n   // Skip if invalid data\n   if (!asset.user_id || !asset.currentPrice || !asset.quantity) continue;\n\n   if (!snapshots[asset.user_id]) {\n       snapshots[asset.user_id] = {\n           user_id: asset.user_id,\n           total_value: 0,\n           currency: 'USD',\n           snapshot_date: new Date().toISOString()\n       };\n   }\n   \n   // Add value (Quantity * Price)\n   const val = parseFloat(asset.quantity) * parseFloat(asset.currentPrice);\n   snapshots[asset.user_id].total_value += val;\n}\n\nreturn Object.values(snapshots).map(s => ({json: s}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[432,-160],"id":"6754f28f-36cd-46b4-ad1a-f9fac65cd276","name":"Calculate User Totals"},{"parameters":{"operation":"update","tableId":"daily_snapshots","matchType":"allFilters"},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[640,-160],"id":"ca4de3f4-51dd-4650-b9ce-768279fa66d0","name":"Supabase: Save Snapshot","credentials":{"supabaseApi":{"id":"zMaTJ515TkqfZox7","name":"Supabase account"}}},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 16 * * 1-5"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[16,-160],"id":"ff479b23-886f-4972-a059-67fa1927b506","name":"Schedule Trigger (4pm EST)"}],"connections":{"Supabase: Get All Assets":{"main":[[{"node":"Calculate User Totals","type":"main","index":0}]]},"Calculate User Totals":{"main":[[{"node":"Supabase: Save Snapshot","type":"main","index":0}]]},"Schedule Trigger (4pm EST)":{"main":[[{"node":"Supabase: Get All Assets","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"01e9c398-4110-4335-9b94-fe33343d2fd4","activeVersionId":null,"versionCounter":13,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-02-06T03:15:00.685Z","createdAt":"2026-02-06T03:15:00.685Z","role":"workflow:owner","workflowId":"TLlLGfr2EJBKvTUi670tG","projectId":"ltM0FqMhoyM1A4wN","project":{"updatedAt":"2026-02-06T00:41:33.403Z","createdAt":"2026-02-06T00:35:41.299Z","id":"ltM0FqMhoyM1A4wN","name":"HAL 9000 <2001hal9000s@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"eff92927-d09e-45db-b254-97eee9f99903"}}]},{"updatedAt":"2026-02-06T17:28:04.161Z","createdAt":"2026-02-06T16:37:35.653Z","id":"uSaopPKsOFbZtPOu53_Eq","name":"Strategic Market Intelligence (News) v4.1","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":30}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-48,96],"id":"a4bebe4f-ded7-4415-a34a-d045e612e729","name":"Every 30 Minutes"},{"parameters":{"promptType":"define","text":"=Analyze this news headline and summary for market sentiment.\nHeadline: {{$json.title}}\nSummary: {{$json.content}}\n\nReturn ONLY a JSON object with two fields:\n1. \"score\": A number between 0 and 100 (0=Bearish, 50=Neutral, 100=Bullish)\n2. \"summary\": A 1-sentence concise summary.\n3. \"sentiment_label\": One of \"BULLISH\", \"BEARISH\", or \"NEUTRAL\"\n","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[928,-352],"id":"e8fbc21d-2c98-44ec-b3d6-23703293ef0d","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[976,-64],"id":"00b279ce-385c-4114-8378-887be36c4cd7","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"sIRI4VaKDFvQggJj","name":"OpenAi account"}}},{"parameters":{"url":"https://feeds.feedburner.com/Coindesk","options":{}},"type":"n8n-nodes-base.rssFeedRead","typeVersion":1,"position":[256,-16],"id":"73498f46-ba67-43af-ae01-9fd5d7f1b31b","name":"CoinDesk RSS1"},{"parameters":{"url":"https://finance.yahoo.com/news/rssindex","options":{}},"type":"n8n-nodes-base.rssFeedRead","typeVersion":1,"position":[256,176],"id":"3d4fce2e-2bc2-4609-8d10-167020ed873a","name":"Yahoo Finance RSS1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.set","typeVersion":2,"position":[688,80],"id":"6c438b5c-8d83-419b-8139-831a3a8081cd","name":"Normalize Data1"},{"parameters":{"jsCode":"// Force run for ALL items to prevent drop-off\nreturn $input.all().map(item => {\n  const aiRaw = item.json.response || item.json.content || item.json.output || '{}';\n  let sentiment = { score: 50, summary: \"No analysis\", sentiment_label: \"NEUTRAL\" };\n\n  try {\n    const cleanJson = aiRaw.toString().replace(/```json/g, '').replace(/```/g, '').trim();\n    sentiment = JSON.parse(cleanJson);\n  } catch (e) {\n    // console.log(\"JSON Parse Error\", e);\n  }\n\n  return {\n    json: {\n      sentiment_score: sentiment.score,\n      summary: sentiment.summary\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1520,-352],"id":"6575c420-d3b5-4e4c-b093-46485a8c80e4","name":"Parse AI Json1"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[1728,64],"id":"aaad3c00-1878-4fd4-ba1f-2715884fafde","name":"Merge Original & AI1"},{"parameters":{"tableId":"news_articles","fieldsUi":{"fieldValues":[{"fieldId":"title","fieldValue":"={{ $json.title }}"},{"fieldId":"url","fieldValue":"={{ $json.link }}"},{"fieldId":"sentiment_score","fieldValue":"={{ $('Parse AI Json1').item.json.sentiment_score }}"},{"fieldId":"summary","fieldValue":"={{ $('Parse AI Json1').item.json.summary }}"},{"fieldId":"source","fieldValue":"={{ $json.creator }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2032,64],"id":"aef153c3-aa39-4023-a94a-2428156df1d0","name":"Supabase: Save News1","credentials":{"supabaseApi":{"id":"zMaTJ515TkqfZox7","name":"Supabase account"}}}],"connections":{"Every 30 Minutes":{"main":[[{"node":"CoinDesk RSS1","type":"main","index":0},{"node":"Yahoo Finance RSS1","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Parse AI Json1","type":"main","index":0}]]},"CoinDesk RSS1":{"main":[[{"node":"Normalize Data1","type":"main","index":0}]]},"Yahoo Finance RSS1":{"main":[[{"node":"Normalize Data1","type":"main","index":0}]]},"Normalize Data1":{"main":[[{"node":"Merge Original & AI1","type":"main","index":1},{"node":"AI Agent","type":"main","index":0}]]},"Parse AI Json1":{"main":[[{"node":"Merge Original & AI1","type":"main","index":0}]]},"Merge Original & AI1":{"main":[[{"node":"Supabase: Save News1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"be1e8460-dae3-40dc-9411-de6699a92e89","activeVersionId":null,"versionCounter":193,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-02-06T16:37:35.654Z","createdAt":"2026-02-06T16:37:35.654Z","role":"workflow:owner","workflowId":"uSaopPKsOFbZtPOu53_Eq","projectId":"ltM0FqMhoyM1A4wN","project":{"updatedAt":"2026-02-06T00:41:33.403Z","createdAt":"2026-02-06T00:35:41.299Z","id":"ltM0FqMhoyM1A4wN","name":"HAL 9000 <2001hal9000s@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"eff92927-d09e-45db-b254-97eee9f99903"}}]},{"updatedAt":"2026-02-06T17:59:14.845Z","createdAt":"2026-02-06T17:57:57.229Z","id":"ibeIUbccgtOFirOBXdYUR","name":"Automated Asset Intelligence Pipeline","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"getAll","tableId":"assets","returnAll":true,"filters":{"conditions":[{"condition":"isEmpty"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[208,0],"id":"8aea9500-08da-4c4b-8d8c-ace92cad44b9","name":"Get Assets (Missing Info)","credentials":{"supabaseApi":{"id":"zMaTJ515TkqfZox7","name":"Supabase account"}}},{"parameters":{"batchSize":1,"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[400,0],"id":"4a94ee0d-0dd1-474a-a8d8-92e05b2b9b05","name":"Process One by One"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.openAiChatModel","typeVersion":1,"position":[608,0],"id":"fad03bdd-6d59-4312-854d-55d28c9dd2e1","name":"AI Intelligence Agent","credentials":{}},{"parameters":{"jsCode":"const aiRaw = $input.item.json.response || $input.item.json.content || $input.item.json.output || '{}';\nlet data = { image_url: '', sector: 'Unknown', market_cap: 0 };\n\ntry {\n  const cleanJson = aiRaw.toString().replace(/```json/g, '').replace(/```/g, '').trim();\n  data = JSON.parse(cleanJson);\n} catch (e) {\n  console.log(\"JSON Parse Error\", e);\n}\n\nreturn {\n  id: $(\"Process One by One\").item.json.id,\n  image_url: data.image_url,\n  sector: data.sector,\n  market_cap: data.market_cap\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[800,0],"id":"0064e7c9-9f03-4b3f-846b-a2026b75a2ef","name":"Format Data"},{"parameters":{"operation":"update","tableId":"assets"},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1008,0],"id":"365e066f-ffb1-4f0d-8400-b4aaa9e80753","name":"Supabase: Update Asset","credentials":{"supabaseApi":{"id":"zMaTJ515TkqfZox7","name":"Supabase account"}}},{"parameters":{"rule":{"interval":[{"field":"hours"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-48,0],"id":"6b06a813-588b-48d1-b704-928a28627899","name":"Every Hour"}],"connections":{"Get Assets (Missing Info)":{"main":[[{"node":"Process One by One","type":"main","index":0}]]},"Format Data":{"main":[[{"node":"Supabase: Update Asset","type":"main","index":0}]]},"Supabase: Update Asset":{"main":[[{"node":"Process One by One","type":"main","index":0}]]},"Every Hour":{"main":[[{"node":"Get Assets (Missing Info)","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a866a9b8-2614-4ae0-8d80-976e6e5e6f1e","activeVersionId":null,"versionCounter":10,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-02-06T17:57:57.232Z","createdAt":"2026-02-06T17:57:57.232Z","role":"workflow:owner","workflowId":"ibeIUbccgtOFirOBXdYUR","projectId":"ltM0FqMhoyM1A4wN","project":{"updatedAt":"2026-02-06T00:41:33.403Z","createdAt":"2026-02-06T00:35:41.299Z","id":"ltM0FqMhoyM1A4wN","name":"HAL 9000 <2001hal9000s@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"eff92927-d09e-45db-b254-97eee9f99903"}}]}]